node_modules

kilder: 
https://dev.to/am20dipi/how-to-build-a-simple-search-bar-in-javascript-4onf
chatgpt 
https://rawg.io/apidocs
https://www.youtube.com/watch?v=4MEyq7Y83VY
https://radbahi.medium.com/implementing-a-basic-filter-function-in-javascript-d0d7607a5331