* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
  }
  
  body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	color: #ff7ffd;
	background-color: #0f1035;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

p {
	font-weight: bold;
	font-size: larger;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}


* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
  }
  
  body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	color: #ff7ffd;
	background-color: #0f1035;
  }
  
  header {
	flex-basis: 10%;
	/* height: 10%; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 2rem;
	background-color: #7fc7d9;
  }
  main {
	flex-basis: 80%;
	display: flex;
	justify-content: center;
	position: relative;
  }
  footer {
	flex-basis: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	background-color: #7fc7d9;
  }
  /* ----------- */
  .sign-in-form {
	width: 30%;
	height: 70%;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	gap: 1rem;
	padding: 2rem;
	background-color: #dcf2f1;
	border-radius: 0.5rem;
	/* display: none;  */
  }
  .email,
  .password {
	height: 2rem;
  }
  .sign-in-button {
	width: 8rem;
	height: 2rem;
  }
  .email-error,
  .password-error,
  .sign-up-error {
	visibility: hidden;
  }
  
  /* -------- */
  .sign-up-form-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 90%;
	display: none;
	border-radius: 0.25rem;
	background-color: #dcf2f1;
  }
  .sign-up-form {
	display: flex;
	flex-direction: column;
	padding: 1rem 3rem;
	gap: 0.5rem;
  }
  .sign-out-button {
	display: none;
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	font-weight: bold;
  }
  .close-sign-up-container {
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
	padding-bottom: 0;
  }
  .signup-form__close {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
  }
  .sign-up-form input {
	width: 30rem;
	height: 2rem;
  }
  .sign-up-button {
	width: 12rem;
	height: 2rem;
  }
  
  .signup-form__open {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
  }
  
  .sign-out-button:hover {
	cursor: pointer;
  }
  /* ----- */
  .content-main-container {
	width: 90%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 0.5rem;
	padding: 0.5rem 0;
	overflow-y: auto;
	display: none;
  }
  
  .country-container {
	width: 19%;
	height: 300px;
	display: flex;
	flex-direction: column;
	/* padding: 0 0.25rem; */
	border-radius: 0.5rem;
	background-color: #dcf2f1;
	text-align: center;
  }
  
  .country-flag-container {
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
  }
  
  .country-flag-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 0.5rem;
  }
  .error-message {
	display: none;
  }
  