
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #392529;
	background: linear-gradient(to bottom, #392529, #d82f51);
	/*
	color: #ff7ffd;
	background-color: #0f1035;
	*/
}

header {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	color: #27f8ff;
}

main {
	height: 80%;
	position: relative;
	/*
	background-color: #0f1035; */
	background-color: #392529;
	background: linear-gradient(to bottom, #392529, #d82f51);
}



/* ----------SIGN IN-------------- */

.sign-in-form {
	width: 30%;
	height: 70%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0.5rem;
	border: solid 2px #27f8ff;
	background: linear-gradient(to bottom, #497c86, #61e5ff);
}

.email, .password {
	height: 2rem;
	border: none;
	border-radius: 5px;
}

.sign-in-button {
	width: 8rem;
	height: 2rem;
	border: none;
	border-radius: 5px;
}

.email-error, .password-error, .submission-error, .sign-up-error {
	visibility: hidden;
}

.sign-up-form__open {
	background-color: transparent;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

/*---------------SIGN UP-----------------*/

.sign-up-form-container {
	width: 60%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0.5rem;
	display: none;
	background-color: lightblue;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0 1rem;
}

.sign-up-form input {
	width: 20rem;
	height: 2rem;
	border: none;
	border-radius: 5px;
}

.sign-up-button {
	width: 12rem;
	height: 2rem;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.close-sign-up-container {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.sign-up-form__close {
	width: 2rem;
	height: 2rem;
	border-radius: 50px;
	cursor: pointer;
}

/* Footer start */

.footer {
	margin-top: 150px;
	width: 100%;
	padding: 100px 0;
	background: #2a282e;
	color: #61e5ff;
	display: flex;
}

.footer div {
	text-align: center;
	width:33%;
}

.column-2 {
	flex-grow: 2;
}

.footer div h3 {
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.column-1 a{
	display: block;
	text-decoration: none;
	color: #fff48fde;
	margin-bottom: 10px;
}

.footer-email {
	width: 400px;
	height: 45px;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline: none;
	border: none;
}

.footer-button {
	background: transparent;
	border: 2px, solid, #61e5ff;
	color: #61e5ff;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 15px;
	cursor: pointer;
}

.social-icons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	min-width:100%;
}
.social-icons i {
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}

/* Footer end */

